# Global
*.DS_Store
Desktop.ini
Thumbs.db

# Project
!.keep
/.jekyll-cache/
Gemfile.lock
package-lock.json
.idea
*.sass-cache
/_site/
_assets/images/og-image.psd
_assets/images/ivfaq1.psd
_assets/images/logo+text.psd
