---
layout: default
title: "Illia Pyshniak • @corbee"
description: "Pythonist | Libertarian | 20 y.o."
---
<article class="hide">
  <h1>List of my articles:</h1>
  <figure class="graf--layoutFillWidth">
    <img src="https://corbee.me/assets/og-image-7fe9d8d44500c5b54cfe8b069ced40be0242f72b65cca9492ed8f176c2138c5f.png">
    <figcaption><a href="https://t.me/corbee"><pic src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/240px-Telegram_logo.svg.png" height="20"/> Contact me on Telegram</a></figcaption>
  </figure>
  <related>
    {% for post in paginator.posts %}
      <a href="{{ post.url | relative_url }}"></a>
    {% endfor %}
  </related>
</article>
<ul class="article-list">
  {% for post in paginator.posts %}
    <li class="article-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
          {% include svg-icon.html icon="arrow-right" %}
        </h5>
      </a>
      <p>
        {% if post.description %}
          {{ post.description }}  
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
      {% include article/info-footer.html post=post %}
    </li>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <li class="article-pagination {% if site.settings.scrollappear_enabled %}scrollappear{% endif %}">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="article-pagination-left">{% include svg-icon.html icon="arrow-left" %} Older posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
      {% endif %}
    </li>
  {% endif %}
</ul>